@model Paginated<BlogManagement.Common.Models.TagVMs.TagVM>

@{
    ViewData["Title"] = "Tags";
    Layout = "Admin/_Layout";
}

@if (Model is null)
{
    @await Html.PartialAsync("User/Partials/_InfoPartial", "tag")
}
else
{
    <h1>Tags Overview</h1>

    @if (TempData[Constants.Success] is not null)
    {
        @await Html.PartialAsync("User/Partials/_StatusPartial", TempData[Constants.Success])
    }
    else if (TempData[Constants.Error] is not null)
    {
        @await Html.PartialAsync("User/Partials/_StatusPartial", TempData[Constants.Error])
    }

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><a asp-controller="Tags" asp-action="Create" class="btn" style="background-color: #00bfff;">Create New</a></h3>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Objects[0].Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Objects[0].Title)
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Objects)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    <a asp-controller="Tags" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-controller="Tags" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <button type="button" class="btn-sm btn-danger deleteBtn" data-id="@item.Id">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <p>@Model.CurrentPage</p>
                    <p>@Model.HasNext</p>
                </div>
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        <li class="page-item">
                            <a class="text-light @(Model.HasPrevious ? "" : "d-none")"
                               asp-action="Index" asp-route-pageNumber="@(--Model.CurrentPage)" asp-route-pageSize="@(Model.PageSize)">
                                &laquo;
                            </a>
                        </li>
                        @for (var i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item">
                                @if(i == Model.CurrentPage)
                                {
                                    <a class="page-link text-light">@i</a>
                                }
                                else if (i != Model.CurrentPage)
                                {
                                    <a class="page-link text-light"
                                       asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@(Model.PageSize)">
                                        @i
                                    </a>
                                }
                            </li>
                        }
                        <li class="page-item @(Model.HasNext ? "" : "d-none")">
                            <a class="page-link text-light"
                               asp-action="Index" asp-route-pageNumber="@(++Model.CurrentPage)" asp-route-pageSize="@(Model.PageSize)">
                                &raquo;
                            </a>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    </div>

    <form id="deleteForm" asp-controller="Tags" asp-action="Delete">
        <input type="hidden" id="tagId" name="id" />
    </form>

    @section Scripts
    {
    <script>
        $(function() {
            $('.deleteBtn').click(function(e) {
                swal({
                    title: "Are you sure?",
                    text: "Are you sure you want to delete this record?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#tagId').val(id);
                        $('#deleteForm').submit();
                    }
                });
            });
        });
    </script>
    }
}
