@model IEnumerable<BlogManagement.Common.Models.PostVMs.PostForAdminIndexVM>

@{
    ViewData["Title"] = "Post overview";
    Layout = "Admin/_Layout";
}

<h1>Posts overview</h1>

@if (Model is null)
{
    @Html.PartialAsync("User/Partials/_InfoPartial")
}
else
{
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><a asp-action="Create" class="btn" style="background-color: #00bfff;">Create New</a></h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AuthorId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ParentId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ChildPosts)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PostRatings)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Published)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PublishedAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AuthorId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ParentId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @item.ChildPosts.Count()
                                </td>
                                <td>
                                    @(item.PostRatings.Any() ? Math.Round(item.PostRatings.Average(p => p.Rating), 1) : "N/A")
                                </td>
                                <td>
                                    @(item.Published == 0 ? "Unpublished" : "Published")
                                </td>
                                <td>
                                    @(item.PublishedAt is null ? "N/A" : item.PublishedAt.Value.ToShortDateString())
                                </td>
                                <td>
                                    @item.CreatedAt.ToShortDateString()
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
}
