@model IEnumerable<BlogManagement.Common.Models.PostVMs.PostForIndexVM>

@{
    ViewData["Title"] = "My Posts";
    Layout = "_Layout";
}


<section class="ftco-section ftco-no-pt ftco-no-pb">
    @if (Model is null)
    {
        <partial name="User/_LoaderPartial" />
    }
    else
    {
        @if (TempData[Constants.Success] is not null)
        {
            @await Html.PartialAsync("User/Partials/_StatusPartial", TempData[Constants.Success])
        }
        else if (TempData[Constants.Error] is not null)
        {
            @await Html.PartialAsync("User/Partials/_StatusPartial", TempData[Constants.Error])
        }

        <div class="row d-flex">
            <div class="col-xl-9 px-md-5 py-5">
                <div class="row pt-md-4">
                    @foreach (var post in Model)
                    {
                        <div class="col-md-12">
                            <div class="blog-entry-2 ftco-animate">
                                <a asp-controller="Posts" asp-action="Details"
                                    asp-route-id="@post.Id" class="img"
                                    style="background-image: url(@post.ImageUrl);"></a>
                                <div class="text pt-4">
                                    <h3 class="mb-4"><a href="#">@post.Title</a></h3>
                                    <p class="mb-4">@post.Summary</p>
                                    <div class="author mb-4 d-flex align-items-center">
                                        <a href="#" class="img" style="background-image: url(images/person_1.jpg);"></a>
                                        <div class="ml-3 info">
                                            <span>Written by</span>
                                            <h3><a href="#">@post.User.FullName</a>, <span>@post.CreatedAt.ToOrdinalWords()</span></h3>
                                        </div>
                                    </div>
                                    <div class="meta-wrap d-md-flex align-items-center">
                                        <div class="half order-md-last text-md-right">
                                            <p class="meta">
                                                <span><i class="icon-star"></i>@post.Rating</span>
                                                <span><i class="icon-eye"></i>@post.TotalViewed</span>
                                                <span><i class="icon-comment"></i>@post.PostComments.Count()</span>
                                            </p>
                                        </div>
                                        <div class="half">
                                            <p>
                                                <a asp-controller="Posts" asp-action="Details"
                                           asp-route-id="@post.Id" class="btn btn-primary p-3 px-xl-4 py-xl-3">
                                                    Continue Reading
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div><!-- END-->
            <div class="row text-center">
                    <div class="col">
                        <div class="block-27">
                            <ul>
                                @*TODO: Add current page and total of page in a current list to vm*@
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a asp-controller="Posts" asp-action="Index" asp-route-id="2">2</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <partial name="AsidePartial" />
        </div>
    }
</section>
